// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #2C9427;
$brand-success:         #2C9427 !default;
$brand-accent:			#FFF683;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-ccc:	             lighten($gray-base, 80%) !default;   // #ccc
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$vmt-muted:				 #567B55;


$resource-anal-report:			#FF9800;
$resource-ebook:				#BFBFBF;
$resource-case-study:			#8B4E9E;
$resource-webinar:				lighten($brand-primary, 15%);
$resource-pro-data:				#FF6A6A;
$resource-vid:					#A0901C;
$resource-white-paper:			#777777;
$resource-infographic:			#5FA3DE;
				
				
// Typography

$font-family-sans-serif:  "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif !default;

	// Custom VMT Variables
	$text-shadow-subtle:	1px 1px 5px lighten($gray-dark, 20%);
	$text-shadow-dark:		1px 1px 2px $gray-base;

// Nav bar
$navbar-inverse-bg: #111;
$navbar-inverse-link-color:	lighten($gray-light, 35%);

@mixin responsive-image {
	height:auto;
	max-width:100%;
	display:block;
	text-align:center;
}